html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;

  font-weight: bold;
  border-radius: 5%;
  padding: 0 8px;
  color: hsl(10deg, 70%, 50%);
  background-color: hsl(0deg, 0%, 70%);
}

a {
  color: hsl(240deg, 70%, 50%);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: hsl(240deg, 70%, 50%);
}
